APP_NAME=SeekOS
APP_VERSION=0.1.0
ENVIRONMENT=development

SEARXNG_URL=http://searxng:8080

DATABASE_URL=postgresql+psycopg://seekos:seekos@postgres:5432/seekos
REDIS_URL=redis://redis:6379/0

SEARXNG_SECRET=vk5-MnrR3m3FQJNodKrDHUBMTgxiTFPNUsYEpCEC01w